/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#auth-container, #chat-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#chat-container {
    display: none;
}

#messages {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

#message-input, #chat-id-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}

#send-button, #join-chat-button {
    width: 100%;
    padding: 10px;
}
